<h2>Topics</h2>

<ul class="collection">
  <%= for topic <- @topics do %>
    <li><%= topic.title %></li>
  <% end %>
</ul>

<div class="fixed-action-btn">
  <%= link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect wave-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
